<h1>Treatments Available</h1>
  <% @treatments.each do |treatment| %>
    <%= link_to treatment.specialty, treatment_path(treatment) %>
    <%= treatment.address %>
    <%= treatment.price %>
  <% end %>
