<h1>Treatments Available</h1>

COLOCAR EM CARDS:

<ul>
  <% @treatments.each do |treatment| %>
    <li><%= link_to treatment.specialty, treatment_path(treatment)%>:
    <%= treatment.address %>,
    R$ <%= treatment.price %></li>
  <% end %>
</ul>
