// Specific CSS for your home-page
.second-part{
  background-color: #F2F7F2;

  .btn-medium {
    color: #ffffff;
    border: 1px solid #041559;
    padding: 6px 12px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    background-color: #041761;
  }

  .btn-medium:hover {
    background-color: #333d64;
  }
}

.btn-medium {
  color: #ffffff;
  border: 1px solid #041559;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #041761;
  text-decoration: none;
}

.btn-medium-border:hover {
  background-color: #333d64;
}

.btn-login {
  text-decoration: none;
  color: #041559;
  margin-left: 20px;
  margin-top: 10px;
}
