<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1624727828489-a1e03b79bba8);">
  <div class="container">
    <h1>Agende agora sua consulta</h1>
    <p>Mais de 800 especialistas para te ajudar</p>
    <a class="btn btn-success" href="#">Agendar</a>
  </div>
</div>
