<div class="container">
  <h1>Doctors4All</h1>
  <div class="row">
    <div class="col-6">
      <%= simple_form_for  %>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>
</div>
