.form-card {
  border-radius: 20px;

  h3 {
    color: rgba(7, 7, 95, 0.803);
  }

  .btn-medium {
    color: #ffffff;
    border: 1px solid #041559;
    padding: 16px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    background-color: #041761;
  }

}
