.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;

}

.nav-link-white{
  color: #fff !important;
}

.nav-link-gray{
  color: #d0d0d0 !important;
}


.navbar-lewagon-white {
  background-color: #fff;
}

.li-navbar-white{
  color:#fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
