table {

  .btn-medium {
    color: #ffffff;
    border: 1px solid #041559;
    padding: 6px 12px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    background-color: #041761;
  }

}

h1 {
  color: rgba(7, 7, 95, 0.803);
}

.appointment-container {
  margin-top: 100px;
}

