<div class="container">
  <h1>Consulta</h1>
  <%= simple_form_for [ @treatment, @appointment ] do |f| %>
    <%= f.input :date %>
    <%= f.submit "Marcar consulta", class: "btn btn-primary" %>
  <% end %>
</div>
