<div class="m-5">
  <div class="appointment-container container">
  <h2>Sua Consulta:</h2>
    <table class="table table-striped justify-content-center">
      <thead>
        <tr>
          <th>Especialidade</th>
          <th>Data da consulta</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @appointment.treatment.specialty.capitalize %></td>
          <td><%= @appointment.date %></td>
          <td><%= @appointment.treatment.address %></td>
        </tr>
      </tbody>
    </table>
  <h5>Você receberá um e-mail com os detalhes da sua consulta!</h5>
  <%= link_to 'Ver todas as consultas marcadas',  appointments_path(@appointments), class: 'btn btn-outline-dark' %>
  </div>
</div>
